@font-face {
    font-family: 'Windows 95';
    src: url('/styles/fonts/w-95-sans-serif.woff2') format('woff2'),
        url('/styles/fonts/w-95-sans-serif.woff') format('woff'); /*hab die fonts verschoben von windows in style ordner*/
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Windows 95' !important;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 45px;
   padding-right: 45px;
   padding-top: 15px;
   padding-bottom: 15px;
   position: relative;
   min-height: 100vh;
}


.nav a{
    color: #212529 !important;
    text-decoration: none !important;
}

.hero {
    padding: 30px !important; 
    margin-bottom: 40px;
    margin-top: 40px;
}


h1{
    text-align: center;
}


.moreText{
    display: none; /*damit der Text nicht mehr angezeigt wird*/
}

.button-container{
    text-align: center;
}

.read-more-btn{
    color: #212529;
    background-color: #c0c0c0;
    border-color: #a0a0a0;
    position:relative;
    font-size: .85rem;
    border-radius: 0.125rem;
    padding: .6rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 5px;
} 

.text.show-more .moreText{
    display:inline;
}
/* with a click on the btn the text will now expand/ increase*/

.text.show-more .dots {
    display: none;
}
/* whenever we will have the "show more" in our text, I want to dissapear the dots  */

.image {
    text-align: center;
}

.footer {
    display: flex;
    gap: 105px;
    justify-content: center;
    align-items: center;
    /* justify-items: center;
    align-content: center; */
    height: 100%;
    position:relative;
    /* bottom: 0; */
    margin-top: auto;
}

.main{
    margin-left: 3rem;
    margin-right: 3rem;
}

.action {
    margin-top: 2rem;
}



/* TO DO
- @media einfügen für kleinere Screens für Navigationbar + Footer*/